.card {
  width: 300px;
  height: 300px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 12px;
  color: black;
  text-decoration: none !important;
}

.card img {
  width: 298px;
  border-radius: 5px;
}